<div class="small-12 columns">
  <div class="row">
    <div class="overlay background-image">
    </div>
    <div class="spacer">
    </div>
  </div>
  <div class="restaurant-container row" data-equalizer data-equalize-by-row="true">
    <div class="small-11 small-centered columns">
      <%= render @restaurantdetails %>
    </div>
  </div>
</div>
