---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/?fields=24816
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":"Boston","lat":42.3571,"lon":-71.0655,"query":"50.241.127.209","status":"success","zip":"02108"}'
  recorded_at: Wed, 20 Jan 2016 00:44:55 GMT
- request:
    method: post
    uri: https://api.locu.com/v2/venue/search
    body:
      encoding: UTF-8
      string: '{"api_key":"0a617b50e355f12544adc19e76d4714d0d8a6a46","fields":["name","description","website_url","menus","open_hours","categories","location","contact","delivery"],"venue_queries":[{"categories":{"str_id":"pizza"},"location":{"locality":"Boston"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "http_status": 200, "venues": [{"name": "Nick''s
        Pizza And Seafood", "locu_id": "d5f417790ba2ddf49bce", "contact": {"phone":
        "(617) 282-8805"}, "website_url": "http://mynickspizza.com", "categories":
        [{"str_id": "restaurants", "name": "Restaurants"}, {"str_id": "pizza", "name":
        "Pizza"}], "location": {"locality": "Boston", "country": "United States",
        "region": "MA", "postal_code": "02124", "address1": "1143 Blue Hill Ave.",
        "geo": {"type": "Point", "coordinates": [-71.0914008773154, 42.2860293000962]}}},
        {"name": "West end pizza", "locu_id": "096a85aa3e8f134705e7", "contact": {"phone":
        "(617) 557-0009"}, "website_url": "http://www.westendpizza.com/", "categories":
        [{"str_id": "restaurants", "name": "Restaurants"}, {"str_id": "pizza", "name":
        "Pizza"}], "location": {"locality": "Boston", "country": "United States",
        "region": "MA", "postal_code": "02114", "address1": "252 Friend St.", "geo":
        {"type": "Point", "coordinates": [-71.0611777618447, 42.3645132375389]}}},
        {"locu_id": "6c4203750393afe9c0ce", "contact": {"phone": "(617) 282-8888"},
        "name": "Cafe 179 Grille", "categories": [{"str_id": "restaurants", "name":
        "Restaurants"}, {"str_id": "food", "name": "Food"}, {"str_id": "pizza", "name":
        "Pizza"}], "location": {"locality": "Boston", "country": "United States",
        "region": "MA", "postal_code": "02108", "address1": "179 Washington St.",
        "geo": {"type": "Point", "coordinates": [-73.088784, 42.336373]}}}, {"name":
        "Upper Crust Pizzeria", "categories": [{"str_id": "restaurants", "name": "Restaurants"},
        {"str_id": "pizza", "name": "Pizza"}], "delivery": {"will_deliver": true},
        "locu_id": "c939061b4de2f288a38c", "contact": {"phone": "(617) 722-4344"},
        "location": {"locality": "Boston", "country": "United States", "region": "MA",
        "postal_code": "02109", "address1": "107 State St.", "geo": {"type": "Point",
        "coordinates": [-71.054677, 42.358965]}}, "website_url": "http://theuppercrustpizzeria.com/"},
        {"name": "Domino''s Pizza", "categories": [{"str_id": "restaurants", "name":
        "Restaurants"}, {"str_id": "pizza", "nam[...]
