---
http_interactions:
- request:
    method: post
    uri: https://api.locu.com/v2/venue/search
    body:
      encoding: UTF-8
      string: '{"api_key":"0a617b50e355f12544adc19e76d4714d0d8a6a46","fields":["name","description","website_url","menus","open_hours","categories","location","contact","delivery"],"venue_queries":[{"name":"bistro
        central parc"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "http_status": 200, "venues": [{"name": "Bistro
        Central Parc", "open_hours": {"sunday": [["17:30", "22:30"], ["09:00", "15:00"]],
        "friday": [["17:30", "22:30"]], "wednesday": [["17:30", "22:30"]], "thursday":
        [["17:30", "22:30"]], "saturday": [["17:30", "22:30"], ["09:00", "15:00"]]},
        "categories": [{"str_id": "restaurants", "name": "Restaurants"}, {"str_id":
        "french", "name": "French"}], "menus": [{"menu_name": "Brunch", "sections":
        [{"subsections": [{"subsection_name": "", "contents": [{"text": "ORGANIC -
        with potatoes & greens", "type": "SECTION_TEXT"}, {"price": "13.00", "type":
        "ITEM", "name": "Eggs Benedict"}, {"price": "14.00", "type": "ITEM", "name":
        "Salmon Benedict"}, {"price": "14.00", "type": "ITEM", "name": "Eggs Florentine"},
        {"price": "9.00", "type": "ITEM", "name": "Two Eggs any style"}, {"price":
        "9.00", "type": "ITEM", "name": "Plain Omelet"}]}], "section_name": "Les Oeufs\u200b"},
        {"subsections": [{"subsection_name": "", "contents": [{"price": "14.00", "type":
        "ITEM", "name": "French Toast"}, {"price": "10.00", "type": "ITEM", "name":
        "Half French Toast"}, {"price": "8.00", "type": "ITEM", "name": "Fresh Fruit
        Salad"}, {"price": "7.00", "type": "ITEM", "name": "Yogurt and Granola"}]}],
        "section_name": "Plats Sucrees \u00a0- Sweet\u200b"}, {"subsections": [{"subsection_name":
        "", "contents": [{"price": "6.00", "type": "ITEM", "name": "Vegetables", "description":
        "Ratatouille or Spinach"}, {"price": "6.00", "type": "ITEM", "name": "Grilled
        Potatoes"}, {"price": "6.00", "type": "ITEM", "name": "Pommes Frites"}, {"price":
        "6.00", "type": "ITEM", "name": "Smoked Salmon"}]}], "section_name": "Side
        Orders\u200b"}, {"subsections": [{"subsection_name": "", "contents": [{"price":
        "8.00", "type": "ITEM", "name": "Soupe du Jour"}, {"price": "10.00", "type":
        "ITEM", "name": "Soupe \u00e1 l\u2019oignon"}, {"price": "8[...]
- request:
    method: get
    uri: http://ip-api.com/json/?fields=24816
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":"Boston","lat":42.3571,"lon":-71.0655,"query":"50.241.127.209","status":"success","zip":"02108"}'
  recorded_at: Tue, 19 Jan 2016 22:55:08 GMT
recorded_with: VCR 3.0.1
