---
http_interactions:
- request:
    method: post
    uri: https://api.locu.com/v2/venue/search
    body:
      encoding: UTF-8
      string: '{"api_key":"0a617b50e355f12544adc19e76d4714d0d8a6a46","fields":["name","description","website_url","menus","open_hours","categories","location","contact","delivery"],"venue_queries":[{"categories":{"str_id":"restaurants"},"location":{"postal_code":"02111"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "http_status": 200, "venues": [{"name": "King
        Fung Garden", "locu_id": "7cd69a90adafbd7ceb9f", "contact": {"phone": "(617)
        357-5262"}, "website_url": "http://www.newkingfunggarden.com", "categories":
        [{"str_id": "restaurants", "name": "Restaurants"}, {"str_id": "chinese", "name":
        "Chinese"}], "location": {"locality": "Boston", "country": "United States",
        "region": "MA", "postal_code": "02111", "address1": "74 Kneeland St.", "geo":
        {"type": "Point", "coordinates": [-71.060525, 42.350417]}}}, {"locu_id": "742d1b7fcf05156ba434",
        "contact": {"phone": "(704) 328-4000"}, "name": "Caf\u00e9 245 (FIT)", "categories":
        [{"str_id": "cafes", "name": "Cafes"}, {"str_id": "restaurants", "name": "Restaurants"}],
        "location": {"locality": "Boston", "country": "United States", "region": "MA",
        "postal_code": "02111", "address1": "245 Summer St.", "geo": {"type": "Point",
        "coordinates": [-71.054623, 42.351551]}}}, {"name": "Peach Farm", "categories":
        [{"str_id": "restaurants", "name": "Restaurants"}, {"str_id": "chinese", "name":
        "Chinese"}], "menus": [{"menu_name": "Menu", "sections": [{"subsections":
        [{"subsection_name": "", "contents": [{"price": "4.75", "type": "ITEM", "name":
        "Peking Ravioli"}, {"price": "4.25", "type": "ITEM", "name": "Egg Rolls"},
        {"price": "6.50", "type": "ITEM", "name": "Chicken Wings"}, {"price": "6.50",
        "type": "ITEM", "name": "Chicken Fingers"}, {"price": "7.75", "type": "ITEM",
        "name": "Fried Jumbo Shrimp"}, {"price": "7.75", "type": "ITEM", "name": "Beef
        Teriyaki"}, {"price": "7.25", "type": "ITEM", "name": "No.1 Tidbits"}, {"price":
        "7.75", "type": "ITEM", "nam[...]
