---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/?fields=24816
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":"Boston","lat":42.3571,"lon":-71.0655,"query":"50.241.127.209","status":"success","zip":"02108"}'
  recorded_at: Tue, 19 Jan 2016 23:24:13 GMT
- request:
    method: post
    uri: https://api.locu.com/v2/venue/search
    body:
      encoding: UTF-8
      string: '{"api_key":"0a617b50e355f12544adc19e76d4714d0d8a6a46","fields":["name","description","website_url","menus","open_hours","categories","location","contact","delivery"],"venue_queries":[{"categories":{"str_id":"restaurants"},"open_hours":{"monday":["18:00"]},"location":{"locality":"Boston"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "http_status": 200, "venues": [{"name": "Papagayo",
        "open_hours": {"monday": [["11:30", "01:00"]], "tuesday": [["11:30", "01:00"]],
        "friday": [["11:30", "01:00"]], "wednesday": [["11:30", "01:00"]], "thursday":
        [["11:30", "01:00"]], "sunday": [["10:00", "23:00"]], "saturday": [["11:30",
        "01:00"]]}, "categories": [{"str_id": "mexican", "name": "Mexican"}, {"str_id":
        "restaurants", "name": "Restaurants"}], "menus": [{"menu_name": "Brunch",
        "sections": [{"subsections": [], "section_name": "Appetizers\u200e"}, {"subsections":
        [{"subsection_name": "", "contents": [{"price": "9.95", "type": "ITEM", "name":
        "Ceviche", "description": "Prepared table side, shaved tuna, lime macerated
        shrimp, p1antain chips"}, {"price": "9.95", "option_groups": [{"text": "Extra",
        "type": "OPTION_ADD", "options": [{"price": "+1.00", "name": "Carrols"}, {"price":
        "+1.00", "name": "Celery"}]}], "type": "ITEM", "name": "Guacamole", "description":
        "Hand-hacked\u200e hoos avocado"}]}], "section_name": "Table Preparations\u200e"},
        {"subsections": [{"subsection_name": "", "contents": [{"text": "Adults 14.95",
        "type": "SECTION_TEXT"}, {"text": "Children(12 & under) 7.95", "type": "SECTION_TEXT"},
        {"type": "ITEM", "name": "Beef Empanadas Del Dia", "description": "Chili chi[...]
