---
http_interactions:
- request:
    method: post
    uri: https://api.locu.com/v2/venue/search
    body:
      encoding: UTF-8
      string: '{"api_key":"0a617b50e355f12544adc19e76d4714d0d8a6a46","fields":["name","description","website_url","menus","open_hours","categories","location","contact","delivery"],"venue_queries":[{"categories":{"str_id":"restaurants"},"location":{"locality":"Cambridge"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "http_status": 200, "venues": [{"name": "Hi-Rise
        Bread Company", "locu_id": "9250e2e0770a554e8164", "contact": {"phone": "(617)
        876-8766"}, "website_url": "http://www.hi-risebread.com", "categories": [{"str_id":
        "restaurants", "name": "Restaurants"}], "location": {"locality": "Cambridge",
        "country": "United States", "region": "MA", "postal_code": "02138", "address1":
        "208 Concord Ave.", "geo": {"type": "Point", "coordinates": [-71.13129471,
        42.382498]}}}, {"name": "Subway", "open_hours": {"monday": [["07:00", "22:00"]],
        "tuesday": [["07:00", "22:00"]], "friday": [["07:00", "22:00"]], "wednesday":
        [["07:00", "22:00"]], "thursday": [["07:00", "22:00"]], "sunday": [["09:00",
        "22:00"]], "saturday": [["08:00", "22:00"]]}, "categories": [{"str_id": "restaurants",
        "name": "Restaurants"}, {"str_id": "sandwiches", "name": "Sandwiches"}], "menus":
        [{"menu_name": "Menu", "sections": [{"subsections": [{"subsection_name": "",
        "contents": [{"type": "ITEM", "name": "B.L.T.", "description": "The sub that
        proves great things come in threes. In this case, those three things happen
        to be crisp bacon, lettuce and juicy tomato. While there is no scientific
        way of proving it, this B.L.T might be the most perfect sub in existence."},
        {"type": "ITEM", "name": "Black Forest Ham", "description": "Simply delicious.
        This flavorful sandwich is packed with lean Black Forest ham and served on
        your favorite freshly baked bread, like 9 grain wheat or[...]
