---
http_interactions:
- request:
    method: post
    uri: https://api.locu.com/v2/venue/search
    body:
      encoding: UTF-8
      string: '{"api_key":"0a617b50e355f12544adc19e76d4714d0d8a6a46","fields":["name","description","website_url","menus","open_hours","categories","location","contact","delivery"],"venue_queries":[{"categories":{"str_id":"restaurants"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "http_status": 200, "venues": [{"name": "Fera''s
        Electric Tower Cafe", "locu_id": "196ece0de0edd0d04763", "contact": {"phone":
        "(716) 855-4663"}, "website_url": "http://www.facebook.com/feraselectrictowercafe",
        "categories": [{"str_id": "restaurants", "name": "Restaurants"}, {"str_id":
        "sandwiches", "name": "Sandwiches"}], "location": {"locality": "Buffalo",
        "country": "United States", "region": "NY", "postal_code": "14203", "address1":
        "535 Washington St.", "geo": {"type": "Point", "coordinates": [-78.8722336292267,
        42.8885347925699]}}}, {"name": "Church''s Chicken", "locu_id": "550504103682dcac3482",
        "contact": {"phone": "(361) 992-0626"}, "website_url": "http://churchschicken.com",
        "categories": [{"str_id": "restaurants", "name": "Restaurants"}, {"str_id":
        "chicken_wings", "name": "Chicken Wings"}], "location": {"locality": "Corpus
        Christi", "country": "United States", "region": "TX", "postal_code": "78412",
        "address1": "735 Lum", "geo":[...]
- request:
    method: get
    uri: http://ip-api.com/json/?fields=24816
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":"Boston","lat":42.3571,"lon":-71.0655,"query":"50.241.127.209","status":"success","zip":"02108"}'
  recorded_at: Thu, 21 Jan 2016 19:05:15 GMT
recorded_with: VCR 3.0.1
