---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/?fields=24816
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":"Boston","lat":42.3571,"lon":-71.0655,"query":"50.241.127.209","status":"success","zip":"02108"}'
  recorded_at: Tue, 19 Jan 2016 22:55:03 GMT
- request:
    method: post
    uri: https://api.locu.com/v2/venue/search
    body:
      encoding: UTF-8
      string: '{"api_key":"0a617b50e355f12544adc19e76d4714d0d8a6a46","fields":["name","description","website_url","menus","open_hours","categories","location","contact","delivery"],"venue_queries":[{"categories":{"str_id":"restaurants"},"location":{"locality":"Boston"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "http_status": 200, "venues": [{"name": "Boston
        Beer Garden", "open_hours": {"monday": [["23:30", "01:00"]], "tuesday": [["23:30",
        "01:00"]], "friday": [["23:30", "01:00"]], "wednesday": [["23:30", "01:00"]],
        "thursday": [["23:30", "01:00"]], "sunday": [["10:00", "11:00"]], "saturday":
        [["10:00", "11:00"]]}, "categories": [{"str_id": "restaurants", "name": "Restaurants"},
        {"str_id": "tradamerican", "name": "Traditional American"}], "menus": [{"menu_name":
        "Menu", "sections": [{"subsections": [{"subsection_name": "", "contents":
        [{"price": "9.99", "type": "ITEM", "name": "Spinach and Artichoke Dip", "description":
        "Baby spinach, artichoke hearts, roasted red peppers, parmesan, mozzarella
        and cream cheeses, topped with herb breadcrumbs then baked. Served with carrots,
        celery and flour tortilla chips"}, {"price": "10.99", "type": "ITEM", "name":
        "Thai Lettuce Wraps", "description": "Your choice of chicken or vegetable
        sauteed in a zesty szechwan sauce with water chestnuts and scallions. Served
        over crispy rice noodles with sides of ice berg lettuce wraps, shr[...]
[...]
- request:
    method: get
    uri: http://ip-api.com/json/?fields=24816
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":"Boston","lat":42.3571,"lon":-71.0655,"query":"50.241.127.209","status":"success","zip":"02108"}'
  recorded_at: Tue, 19 Jan 2016 22:55:08 GMT
recorded_with: VCR 3.0.1
