---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/?fields=24816
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":"Boston","lat":42.3571,"lon":-71.0655,"query":"50.241.127.209","status":"success","zip":"02108"}'
  recorded_at: Tue, 19 Jan 2016 01:36:50 GMT
recorded_with: VCR 3.0.1
