<div class="cart">
  <% unless cart.cartitems.empty? %>
    <% cart.cartitems.each do |ci| %>
        <%= ci.pp %><br>
    <% end %>
    <hr>
    <b>Total: $<%= cart.find_total %></b>
  <% end %>
</div>
