---
http_interactions:
- request:
    method: post
    uri: https://api.locu.com/v2/venue/search
    body:
      encoding: UTF-8
      string: '{"api_key":"0a617b50e355f12544adc19e76d4714d0d8a6a46","fields":["name","description","website_url","menus","open_hours","categories","location","contact","delivery"],"venue_queries":[{"categories":{"str_id":"restaurants"},"name":"Boston
        Beer Garden","location":{"locality":"Boston"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "http_status": 200, "venues": [{"name": "Boston
        Beer Garden", "open_hours": {"monday": [["23:30", "01:00"]], "tuesday": [["23:30",
        "01:00"]], "friday": [["23:30", "01:00"]], "wednesday": [["23:30", "01:00"]],
        "thursday": [["23:30", "01:00"]], "sunday": [["10:00", "11:00"]], "saturday":
        [["10:00", "11:00"]]}, "categories": [{"str_id": "restaurants", "name": "Restaurants"},
        {"str_id": "tradamerican", "name": "Traditional American"}], "menus": [{"menu_name":
        "Menu", "sections": [{"subsections": [{"subsection_name": "", "contents":
        [{"price": "9.99", "type": "ITEM", "name": "Spinach and Artichoke Dip", "description":
        "Baby spinach, artichoke hearts, roasted red peppers, parmesan, mozzarella
        and cream cheeses, topped with herb breadcrumbs then baked. Served with carrots,
        celery and flour tortilla chips"}, {"price": "10.99", "type": "ITEM", "name":
        "Thai Lettuce Wraps", "description": "Your choice of chicken or vegetable
        sauteed in a zesty szechwan sauce with water chestnuts and scallions. Served
        over crispy rice noodles with sides of ice berg lettuce wraps, shr[...]
[...]
- request:
    method: post
    uri: https://api.locu.com/v2/venue/search
    body:
      encoding: UTF-8
      string: '{"api_key":"0a617b50e355f12544adc19e76d4714d0d8a6a46","fields":["name","description","website_url","menus","open_hours","categories","location","contact","delivery"],"venue_queries":[{"categories":{"str_id":"restaurants"},"name":"Siam
        Bistro","location":{"locality":"Boston"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "http_status": 200, "venues": [{"name": "Siam
        Bistro", "categories": [{"str_id": "restaurants", "name": "Restaurants"},
        {"str_id": "thai", "name": "Thai"}], "delivery": {"will_deliver": true}, "menus":
        [{"menu_name": "Menu", "sections": [{"subsections": [{"subsection_name": "",
        "contents": [{"price": "2.50", "type": "ITEM", "name": "Thai Iced Tea"}, {"price":
        "5.50", "type": "ITEM", "name": "Scallion Pancakes", "description": "Crispy
        vegetable pancake served with ginger sauce."}, {"price": "5.50", "type": "ITEM",
        "name": "Siam Dumpling", "description": "Steamed or deep-fried pork dumpling
        served with ginger dipping sauce."}, {"pr[...]
- request:
    method: post
    uri: https://api.locu.com/v2/venue/search
    body:
      encoding: UTF-8
      string: '{"api_key":"0a617b50e355f12544adc19e76d4714d0d8a6a46","fields":["name","description","website_url","menus","open_hours","categories","location","contact","delivery"],"venue_queries":[{"categories":{"str_id":"restaurants"},"name":"Papagayo","location":{"locality":"Boston"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "http_status": 200, "venues": [{"name": "Papagayo",
        "open_hours": {"monday": [["11:30", "01:00"]], "tuesday": [["11:30", "01:00"]],
        "friday": [["11:30", "01:00"]], "wednesday": [["11:30", "01:00"]], "thursday":
        [["11:30", "01:00"]], "sunday": [["10:00", "23:00"]], "saturday": [["11:30",
        "01:00"]]}, "categories": [{"str_id": "mexican", "name": "Mexican"}, {"str_id":
        "restaurants", "name": "Restaurants"}], "menus": [{"menu_name": "Brunch",
        "sections": [{"subsections": [], "section_name": "Appetizers\u200e"}, {"subsections":
        [{"subsection_name": "", "contents": [{"price": "9.95", "type": "ITEM", "name":
        "Ceviche", "description": "Prepared table side, shaved tuna, lime macerated
        shrimp, p1antain chips"}, {"price": "9.95", "option_groups": [{"text": "Extra",
        "type": "OPTION_ADD", "options": [{"price": "+1.00", "name": "Carrols"}, {"price":
        "+1.00", "name": "Celery"}]}], "type": "ITEM", "name": "Guacamole", "description":
        "Hand-hacked\u200e hoos avocado"}]}], "section_name": "Table Preparations\u200e"},
        {"subsections": [{"subsection_name": "", "contents": [{"text": "Adults 14.95",
        "type": "SECTION_TEXT"}, {"text": "Children(12 & under) 7.95", "type": "SECTION_TEXT"},
        {"type": "ITEM", "name": "Beef Empanadas Del Dia", "description": "Chili chi[...]
[...]
