---
http_interactions:
- request:
    method: get
    uri: http://ip-api.com/json/?fields=24816
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"city":"Boston","lat":42.3571,"lon":-71.0655,"query":"50.241.127.209","status":"success","zip":"02108"}'
  recorded_at: Thu, 21 Jan 2016 01:19:35 GMT
- request:
    method: post
    uri: https://api.locu.com/v2/venue/search
    body:
      encoding: UTF-8
      string: '{"api_key":"0a617b50e355f12544adc19e76d4714d0d8a6a46","fields":["name","description","website_url","menus","open_hours","categories","location","contact","delivery"],"venue_queries":[{"categories":{"str_id":"restaurants"},"name":"Betty''s
        Wok \u0026 Noodle Diner","location":{"locality":"Boston"}}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "http_status": 200, "venues": [{"name": "Betty''s
        Wok & Noodle Diner", "open_hours": {"monday": [["11:30", "09:00"]], "tuesday":
        [["11:30", "22:00"]], "friday": [["11:30", "23:00"]], "wednesday": [["11:30",
        "22:00"]], "thursday": [["11:30", "22:00"]], "sunday": [["11:30", "09:00"]],
        "saturday": [["11:30", "23:00"]]}, "categories": [{"str_id": "restaurants",
        "name": "Restaurants"}], "menus": [{"menu_name": "All Day Menu", "sections":
        [{"subsections": [{"subsection_name": "", "contents": [{"price": "6.00", "type":
        "ITEM", "name": "Chopped Salad", "description": "Mixed seasonal greens w/
        cucumber, carrots, bean sprouts, & scallions. Dressing choices: hot & sour
        chipotle, sesame-ginger, wasabi-ginger, or creamy peanut"}, {"price": "6.00",
        "type": "ITEM", "name": "Sweet Heat Cuban Cole Slaw", "description": "Shredded
        napa & red cabbages w/ carrots & scallions in a snappy hot & sour chipotle
        dressing"}, {"price": "12.00", "type": "ITEM", "name": "Cool Cuc''s & Weed",
        "description": "Shredded cucumbers & gree[...]
