---
http_interactions:
- request:
    method: post
    uri: https://api.locu.com/v2/venue/search
    body:
      encoding: UTF-8
      string: '{"api_key":"0a617b50e355f12544adc19e76d4714d0d8a6a46","fields":["name","description","website_url","menus","open_hours","categories","location","contact","delivery"],"venue_queries":[{"categories":{"str_id":"restaurants"},"name":"Sweet
        Cupcake"}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status": "success", "http_status": 200, "venues": [{"name": "Sweet
        Cupcakes", "open_hours": {"monday": [["10:00", "21:00"]], "tuesday": [["10:00",
        "21:00"]], "friday": [["10:00", "21:00"]], "wednesday": [["10:00", "21:00"]],
        "thursday": [["10:00", "21:00"]], "sunday": [["10:00", "21:00"]], "saturday":
        [["10:00", "21:00"]]}, "categories": [{"str_id": "restaurants", "name": "Restaurants"}],
        "menus": [{"menu_name": "Menu", "sections": [{"subsections": [{"subsection_name":
        "", "contents": [{"type": "ITEM", "name": "The Sweet Cake", "description":
        "Creamy madagascar vanilla bean cake with buttercream frosting in vanilla
        or chocolate"}, {"type": "ITEM", "name": "Dark Chocolate", "description":
        "Rich chocolate cake baked with dutch cocoa topped with buttercream frosting
        in vanilla or chocolate"}, {"type": "ITEM", "name": "Organic Karat", "description":
        "Moist carrot cake with shredded organic carrots and crushed pineapple topped
        with classic cream cheese frosting and an edible gold leaf petal"}, {"type":
        "ITEM", "name": "Cappuccino", "description": "Delectable espresso flavored
        cake baked with callebaut chocolate crowned with signature sweet frosting
        and a dusting of cinnamon"}, {"type": "ITEM", "name": "Red Velvet", "description":
        "gentle hint of bensdorp dutch cocoa, a classic shocking red hue and Sweet''s
        delectable cream cheese frosting"}, {"type": "ITEM", "name": "Boston Cream
        Pie", "description": "Sweet chiffon cake filled with homemade pastry cream
        topped with chocolate ganache and a frosting \"cherry\""}, {"type": "ITEM",
        "name": "Vegan Cupcake (Mondays Only)", "description": "Yummy chocolate cake
        and delectable frosting that is 100% vegan (dairy and egg free) and cholesterol
        free"}, {"type": "ITEM", "name": "Pupcakes"}]}], "section_name": "The Daily
        Sweet\u200e"}, {"subsections": [{"subsection_name": "", "contents": [{"type":
        "ITEM", "name": "Chocolate Covered Pretzel", "description": "The sweet and
        savory cupcake just in time for spring! Delectable chocolate cake with homemade
        chocolate buttercream, dipped in pretzel crumbs and finished with a a miniature
        chocolate dipped pretzel!"}, {"type": "ITEM", "name": "Lemon", "description":
        "Delectable fresh lemon cake finished with a pale[...]
