.order-row {
  margin-top: 2rem;
}

.order-summary header {
  border-bottom: $callout-border;
  color: $primary-color;
  padding-bottom: 0.25rem;
}

.order-status {
  color: $success-color;
  font-weight: bold;
  padding-left: 1rem;
  transition: color 2.0s ease-in-out;
  // &.blink {
  //   color: $primary-color;
  // }
}

.order-info-list {
  font-size: 0.875rem;
  line-height: 0.6;
  list-style-position: outside;
  margin: 1em;
  margin-bottom: 15px;

  ul {
    list-style-type: none;
  }

  li {
    display: block;
    margin: 0;
    padding: 0.5em;
    padding-left: 0;
  }
}

.accordion-title {
  padding: 0 1rem;
}

.accordion-content {
  border-bottom: 0;
}

.cart hr {
  margin: 0.25rem;
}

.block-list li:last-child {
  border-bottom: 0;
}
