div.divider {
  margin: 1.6rem;
}

div.form-divider {
  margin: 0;
}

.info-description {
  border-top: 2px dotted $primary-color;
  margin-top: 0.3rem;
  padding-top: 0.3rem;
  font-size: 0.8rem;
}

.info-name {
  float: left;
  color: $primary-color;
  font-weight: bold;
  font-size: 1.1rem;
}

.info-price {
  float: right;
  font-weight: bold;
  margin-right: 0.5rem;
}

.info-quantity {
  float: right;

  [type="text"], textarea {
    width: 2rem;
    height: 1.75rem;
    margin-top: -0.2rem;
    margin-right: 0rem;
    margin-bottom: 0;
    padding: 0;
  }
}

.menu-title {
  text-align: center;
}

section.block-list ul {
  margin: 1em;
  border: 1px solid $secondary-color;
  font-size: 0.875rem;
  line-height: 1.6;
  list-style-position: outside;
  margin-bottom: 15px;
}

section.block-list ul li {
  display: block;
  border-bottom: 1px solid $secondary-color;
  padding: 0.5em;
  margin: 0;
}

section.block-list ul li:last-child {
    border-bottom: 0;
}
